workDir = 'work/'

conda.enabled = true
docker.enabled = true

params {
    // output locations
    output_assessment = 'results/asgard_assessment_results/'
    output_annotation = 'results/asgard_annotation_results/'

    // location of gtdbtk database (release 226)
    gtdbtk_db = '/mnt/gtdbtk/release226/'
}

process {
    executor = 'local'

    withName: 'checkm' {
        conda = 'bioconda::checkm-genome=1.2.4'
        cpus = 14
    }

    withName: 'gtdbtk' {
        conda = 'bioconda::gtdbtk=2.6.1'
        cpus = 14
    }

    withName: 'prodigal' {
        conda = 'bioconda::prodigal=2.6.3'
        cpus = 14
    }

    withName: 'comparem' {
        conda = 'bioconda::comparem=0.1.2'
        cpus = 14
    }

    withName: 'mebs' {
        container = 'drdorkdawg/mebs:latest'
        cpus = 14
    }

    withName: 'metabolic' {
        container = 'tin6150/metabolic:4.0'
        cpus = 14
    }

    withName: 'diamond' {
        conda = 'bioconda::diamond=2.1.18'
        cpus = 8
    }

    withLabel: 'r_script' {
        container = 'rocker/tidyverse:4.3.0'
    }

}

plugins {
    id 'nf-amazon'
    id 'nf-boost'
}

// saves a lot of space -- only set to `true` if confident pipeline won't throw errors (no --resume option)
boost {
    cleanup = false
}